  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link">
      <img src="/static/assets/img/admss.gif" alt="ADMSS" class="brand-image" style="opacity: .8">
      <span class="brand-text font-weight-heavy" style="color:silver;"><strong>A</strong></span>
      <span class="brand-text font-weight-heavy" style="color:silver;"><strong>D</strong></span>
      <span class="brand-text font-weight-heavy" style="color:silver;"><strong>M</strong></span>
      <span class="brand-text font-weight-heavy" style="color:silver;"><strong>S</strong></span>
      <span class="brand-text font-weight-heavy" style="color:silver"><strong>S</strong></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a class="d-block">
            {{loginusercode}} - {{loginusername}}
          </a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="" placeholder="Action" aria-label="" >
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library 
  
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Widgets
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>-->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <span class="badge badge-info right">1</span>
              <p>
                Insurane Booking
                <i class="fas fa-angle-left right"></i>
      
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/#/" class="nav-link">
                  <i class="nav-icon fas fa-copy text-info"></i>
                  <p>Insurane Booking</p>
                </a>
              </li>

            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">

              <i class="nav-icon fas fa-chart-pie"></i>
              <span class="badge badge-warning right">1</span>
              <p>
                Insurane Due
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/#/" class="nav-link">
                  <i class="nav-icon fas fa-chart-pie text-info"></i>
                  <p>Insurane Due</p>
                </a>
              </li>

            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">

              <i class="nav-icon fas fa-address-card"></i>
              <span class="badge badge-warning right">1</span>
              <p>
                Feed Insurance
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/#/" class="nav-link">
                  <i class="nav-icon fas fa-address-card text-info"></i>
                  <p>Feed Insurance</p>
                </a>
              </li>

            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-edit"></i>
              <span class="badge badge-success right">4</span>
              <p>
                Reports
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>


            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/#/" class="nav-link">
                  <i class="nav-icon far fa-edit text-warning"></i>
                  <p>Insurance Booked</p>
                </a>
              </li>         
              <li class="nav-item">
                <a href="/#/" class="nav-link">
                  <i class="nav-icon far fa-edit text-danger"></i>
                  <p>Insurance Due</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/#/" class="nav-link">
                  <i class="nav-icon far fa-edit text-info"></i>
                  <p>Insurance List</p>
                </a>
              </li>

            </ul>
          </li>


     
          <li class="nav-header">Log</li>
          <li class="nav-item">
            <a href="/logout/" class="nav-link">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p class="text">Logout</p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  